# uncomment below 3 lines in production to redirect site to https and change address
# RewriteCond %{SERVER_PORT} 80
# RewriteEngine On
# RewriteRule ^(.*)$ https://talenthunt.epizy.com/$1 [R,L]

Options -Indexes

<Files "examdb">
    Require all denied
</Files>

# comment below 3 lines to access phpliteadmin
# <Files "phpliteadmin.php">
#    Require all denied
# </Files>